<table width="1263" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="1263" height="799" background="images/0Baloon_BASIC.png">
	
	
<style type="text/css">

span { color:red; cursor:pointer; }

div { margin:3px; width:80px; display:none;
      height:80px; float:left; }
	  
div#apDiv1 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:1;
}
div#apDiv2 {s
	position:absolute;
	width:200px;
	height:115px;
	z-index:2;
	left: 540px;
	top: 170px;
}
div#apDiv3 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:3;
	left: 600px;
	top: 245px;
}
div#apDiv4 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:4;
	left: 660px;
	top: 200px;
}
div#apDiv5 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:5;
	left: 223px;
	top: 41px;
}
div#apDiv6 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:6;
	left: 800px;
	top: 460px;
}
</style>  


  
    <div id="apDiv1"><img src="images/20Baloon_Layer.png" width="16" height="19" alt="no1" /></div>
    <div id="apDiv2"><img src="images/21Baloon_Layer.png" width="39" height="48" alt="no2" /></div>
	<div id="apDiv3"><img src="images/22Baloon_Layer.png" width="50" height="50" alt="no3" /></div>
	<div id="apDiv4"><img src="images/23Baloon_Layer.png" width="207" height="215" alt="No4" /></div>
    <div id="apDiv5"><img src="images/24Baloon_Layer.png" width="27" height="31" alt="no5" /></div>
    <div id="apDiv6"><img src="images/26Baloon_Layer.png" width="95" height="97" alt="no6" /></div>
    <div id="apDiv7"></div></td>
    
</td>
  </tr>
</table>
Tweets per Minute Count><a href="http://twitter.com/" id="tweetCount"></a>

<div><span></span></div>

